* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.containerMariposa{
    width: 60px;
    height: 133px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    perspective: 600px;
}

.mariposa{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotate3d(2,1,-1, 50deg);
}

.f-part{
    position: absolute;
    background-size: 100% 100%;
}

.mariposa .body{
    width: 12%;
    height: 25%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 37%;
    background-color: rgb(41, 40, 40);
    border-radius: 50px;
}

.mariposa .l-wing{
    width: calc(50% - 2px);
    height: 100%;
    left: 0px;
    background-image: url('../img/ala\ -\ copia.png');
    animation: lwingAnimate 5s ease-in-out infinite;
    transform-origin: right;
}

.mariposa .r-wing{
    width: calc(50% - 2px);
    height: 100%;
    right: 0px;
    animation: rwingAnimate 5s ease-in-out infinite;
    transform-origin: left;
    background-image: url('../img/ala.png');
}

@keyframes lwingAnimate{
    0% {transform: rotate3d(0,1,0, 80deg);}
    50% {transform: rotate3d(0,1,0, 65deg);}
    100% {transform: rotate3d(0,1,0, 80deg);}
}

@keyframes rwingAnimate{
    0% {transform: rotate3d(0,1,0, -80deg);}
    50% {transform: rotate3d(0,1,0, -65deg);}
    100% {transform: rotate3d(0,1,0, -80deg);}
}
